.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
}

button{
  padding: 10px;
  border-radius: 7px;
  width: 100px;
  /* transition: 0.4s; */
}
#container {
  position: relative;
  width: 50%;
  height: 50px;
  border: 1px solid #000;
}
/* h1{
  text-align: center;
} */